<div class="in-flex" id="cont-login">
    <div class="cont-form">
        <div class="form-head">
            <h2>Iniciar sesión</h2>
        </div>
        <div class="form-body">

            <form [formGroup]="form" (ngSubmit)="registrarCategoria()">
                <div class="sn-form in-flex">
                    <div class="item in-flex">
                        <input type="text" formControlName="nombre" id="nombre" />
                        <label for="nombre">Nombre</label>
                    </div>
                </div>

                <div class="cont-submit">

                    <button >Agregar</button>
                    <a routerLink="/admin">
                        Volver a la lista
                    </a>
                </div>
                <div class="container-z" *ngIf="isError || isSuccessful">

                    <div class="md-confirmation in-grid">
                        <div class="md-header in-flex">
                            <animated-icons *ngIf="isError"
                                src="https://animatedicons.co/get-icon?name=Alert&style=minimalistic&token=4ff92fe8-3f2e-471b-beff-2c28789b1813"
                                trigger="loop-on-hover"
                                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":2.1,"defaultColours":{"group-1":"#AD0000FF","group-2":"#AD0000FF","background":"#FFFFFF00"}}'
                                height="60" width="60"></animated-icons>
                            <animated-icons
                                *ngIf="isSuccessful"
                                src="https://animatedicons.co/get-icon?name=Success&style=minimalistic&token=2cb0da6b-0dad-4d02-8599-79b76c0333fb"
                                trigger="loop-on-hover"
                                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":2.1,"defaultColours":{"group-1":"#00AD00FF","group-2":"#00AD00FF","background":"#FFFFFF00"}}'
                                height="60" width="60"></animated-icons>

                            <h2>{{mensaje}}</h2>

                        </div>

                        <div class="md-footer in-flex" *ngIf="isError">
                            <button class="md-cancelar" (click)="isError = false">
                                Cancelar
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>