<div class="container">
    <h2>Registrar Categoría</h2>
  
    <div *ngIf="mensajeConfirmacion" class="alert alert-success">
      {{ mensajeConfirmacion }}
    </div>

    <form (ngSubmit)="registrarCategoria()">
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input type="text" id="nombre" class="form-control" [(ngModel)]="nuevaCategoria.nombre" name="nombre" required>
      </div>
  
      <button type="submit" class="btn btn-primary">Registrar</button>
      <a href="/listadoCategorias"class="btn btn-success">Volver</a>
    </form>
  </div>
