<div class="container">
    <div class="nv-ad-body in-grid">
        <div class="nv-ad-item in-grid">
            <div>
                Modelo
            </div>
            <a routerLink="/modelo/create">
                Crear
            </a >
            <a routerLink="/modelo/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Productos
            </div>
            <a routerLink="/producto/create">
                Crear
            </a >
            <a routerLink="/producto/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Categoria
            </div>
            <a routerLink="/categoria/create">
                Crear
            </a >
            <a routerLink="/categoria/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Color
            </div>
            <a routerLink="/color/create">
                Crear
            </a >
            <a routerLink="/color/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Distrito
            </div>
            <a routerLink="/distrito/create">
                Crear
            </a >
            <a routerLink="/distrito/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Marca
            </div>
            <a routerLink="/marca/create">
                Crear
            </a >
            <a routerLink="/marca/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Material
            </div>
            <a routerLink="/material/create">
                Crear
            </a >
            <a routerLink="/material/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Persona
            </div>
            <a routerLink="/persona/create">
                Crear
            </a >
            <a routerLink="/persona/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Talla
            </div>
            <a routerLink="/talla/create">
                Crear
            </a >
            <a routerLink="/talla/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Ticket
            </div>
            <a routerLink="/ticket/create">
                Crear
            </a >
            <a routerLink="/ticket/list">
                Lista
            </a>
        </div>
        <div class="nv-ad-item in-grid">
            <div>
                Transaccion
            </div>
            <a routerLink="/transaccion/create">
                Crear
            </a >
            <a routerLink="/transaccion/list">
                Lista
            </a>
        </div>
    </div>
</div>