<div class="container">
    <h2>{{titulo}}</h2>
    <div *ngIf="cargoLista">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Stock</th>
            <th scope="col">Color</th>
            <th scope="col">Talla</th>
            <th scope="col">Modelo</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoria</th>
            <th scope="col">Marca</th>
            <th scope="col">Persona</th>
            <th scope="col">Material</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let producto of productos.Productos">
            <th scope="row">{{producto.id}}</th>
            <td>{{producto.stock}}</td>
            <td>{{producto.objColor.nombre}}</td>
            <td>{{producto.objTalla.nombre}}</td>
            <td>{{producto.objModelo.descripcion}}</td>
            <td>{{producto.objModelo.precio}}</td>
            <td>{{producto.objModelo.objCategoria.nombre}}</td>
            <td>{{producto.objModelo.objMarca.nombre}}</td>
            <td>{{producto.objModelo.objPersona.nombre}}</td>
            <td>{{producto.objModelo.objMaterial.nombre}}</td>
            <td><a href="" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
