<div class="in-flex" id="cont-login">

  <input class="none" type="checkbox" required="required" autocomplete="off" id="check-cir" />

  <div class="cont-form">
      <div class="form-head">
          <h2>Iniciar sesión</h2>
      </div>
      <div class="form-body">

          <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
              <div class="sn-form in-flex">
                  <div class="item in-flex">
                      <input type="text" required="required" autocomplete="off" formControlName="correo" />
                      <label for="">Correo electronico o DNI</label>
                  </div>
                  <div class="item in-flex">
                      <input type="password" required="required" autocomplete="off" formControlName="contrasenia" />
                      <label for="">Contraseña</label>
                  </div>
              </div>
              
              <div *ngIf="errorMessage" style="color:red;">{{ errorMessage }}</div>

              <a routerLink="/sign-in">¿Olvidaste la contraseña?</a>
              <div class="cont-submit">
                  <ul class="in-flex">
                      <li>
                          <input id="inp-login" type="submit" value="Iniciar sesión" />
                      </li>
                  </ul>
              </div>
          </form>
      </div>

      <div class="form-footer">
          <label for="check-cir">¿Eres nuevo? <strong><a routerLink="/sign-up">Crear cuenta</a></strong></label>
      </div>
  </div>

</div>