<div class="container">
  <div class='pgfilter in-grid'>
      <div class='hola'></div>
      <div id="div-filter">
        <div class="filt-head">
          <h2>
            Filtros
          </h2>
        </div>
        <aside class="filt-body">
          <form (ngSubmit)="onSubmit()">
            <section class="item-filter">
              <h5>
                Color
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let color of listColores.response">
                    <span>
                      <input type="checkbox" [value]="color.id" id="color-{{color.id}}" (change)="onColorChange(color.id, $event)">
                      <label for="color-{{color.id}}">
                        <span>{{ color.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="item-filter">
              <h5>
                Talla
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let talla of listTallas.response">
                    <span>
                      <input type="checkbox" [value]="talla.id" id="talla-{{talla.id}}" (change)="onTallaChange(talla.id, $event)">
                      <label for="talla-{{talla.id}}">
                        <span>{{ talla.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="item-filter">
              <h5>
                Categoría
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let categoria of listCategorias.response">
                    <span>
                      <input type="checkbox" [value]="categoria.id" id="categoria-{{categoria.id}}" (change)="onCategoriaChange(categoria.id, $event)">
                      <label for="categoria-{{categoria.id}}">
                        <span>{{ categoria.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="item-filter">
              <h5>
                Marca
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let marca of listMarcas.response">
                    <span>
                      <input type="checkbox" [value]="marca.id" id="marca-{{marca.id}}" (change)="onMarcaChange(marca.id, $event)">
                      <label for="marca-{{marca.id}}">
                        <span>{{ marca.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="item-filter">
              <h5>
                Persona
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let persona of listPersonas.response">
                    <span>
                      <input type="checkbox" [value]="persona.id" id="persona-{{persona.id}}" (change)="onPersonaChange(persona.id, $event)">
                      <label for="persona-{{persona.id}}">
                        <span>{{ persona.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
            <section class="item-filter">
              <h5>
                Material
              </h5>
              <div class="body-filters active">
                <ul class="ul-filter">
                  <li *ngFor="let material of listMateriales.response">
                    <span>
                      <input type="checkbox" [value]="material.id" id="material-{{material.id}}" (change)="onMaterialChange(material.id, $event)">
                      <label for="material-{{material.id}}">
                        <span>{{ material.nombre }}</span>
                      </label>
                    </span>
                  </li>
                </ul>
              </div>
            </section>
      
            <div class="filt-footer">
              <button type="submit">Filtrar</button>
            </div>
          </form>
        </aside>
      </div>
      
      <div class='papa'>
          <ul id="ul-prod" class="in-flex">
            <li *ngFor="let producto of listProducto.response">
              <div class="item-prod">
                <div class="cont-img">
                    <img src="" alt="" />
                </div>
                <div class="cont-info">
                    <div class="prod-title">
                        <h3>{{producto.modelo.descripcion}}</h3>
                    </div>
                    <ul class="in-grid">
                        <li><span>{{producto.modelo.marca.nombre}}</span></li>
                        <li><span>S/ {{producto.modelo.precio}}</span></li>
                        <li><button>Agregar</button></li>
                    </ul>
                </div>
            </div>
            </li>
          </ul>
      </div>
  </div>
</div>


<ul>

</ul>
