<div class="container">
    <div id="cont-product" class="in-grid">
        <section class="cmp-prd in-flex">
            <div class="pr-header">
                <span>{{modelo.categoria.nombre}}</span>
                <h2>{{modelo.descripcion}}</h2>
            </div>
            <ul class="pr-body">
                <li>
                    Material: {{modelo.material.nombre}}
                </li>
                <li>
                    Marca: {{modelo.marca.nombre}}
                </li>
                <li>
                    Genero: {{modelo.persona.nombre}}
                </li>
                <li>
                    Informacion: {{modelo.info}}
                </li>
            </ul>
            <div id="pr-price" class="in-flex">
                <span>Precio</span>
                <span>S/ {{modelo.precio}}</span>
            </div>
            <div id="pr-footer">
                <section>
                    <a id="btn-add_car" [routerLink]="['/modelo/edit', modelo.id]">
                        <span>Actualizar el modelo</span>
                    </a>
                </section>
            </div>
        </section>
        <section class="nav-prts in-grid">
            <div class="prd-crt" *ngFor="let producto of modelo.productos">
                <section class="cart in-grid">
                    <div class="crt-head">
                        <a class="btn btn-green" [routerLink]="['/producto/edit', producto.id]">
                            <svg>
                                <use href="./icons/icon.svg#edit-icon"></use>
                            </svg>
                        </a>
                        <button class="btn btn-red" (click)="requiresConfirmation(true); idPrd = producto.id">
                            <svg>
                                <use href="./icons/icon.svg#trash-icon"></use>
                            </svg>
                        </button>
                    </div>
                    <ul class="crt-body in-grid">
                        <li>ID</li>
                        <li>{{producto.id}}</li>
                        <li>COLOR</li>
                        <li>{{producto.color.nombre}}</li>
                        <li>TALLA</li>
                        <li>{{producto.talla.nombre}}</li>
                        <li>STOCK</li>
                        <li>{{producto.stock}}</li>
                    </ul>
                </section>
            </div>
        </section>
    </div>
</div>

<div class="container-z" *ngIf="isConfirmed || isError || isSuccessful">
    <div class="md-confirmation in-grid">
        <div class="md-header in-flex">
            <animated-icons *ngIf="isConfirmed"
                src="https://animatedicons.co/get-icon?name=plus&style=minimalistic&token=3a3309ff-41ae-42ce-97d0-5767a4421b43"
                trigger="loop"
                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":2.1,"defaultColours":{"group-1":"#5E5E5EFF","group-2":"#5E5E5EFF","background":"#FFFFFF00"}}'
                height="60" width="60"></animated-icons>
            <animated-icons *ngIf="isError"
                src="https://animatedicons.co/get-icon?name=Alert&style=minimalistic&token=4ff92fe8-3f2e-471b-beff-2c28789b1813"
                trigger="loop"
                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":2.1,"defaultColours":{"group-1":"#AD0000FF","group-2":"#AD0000FF","background":"#FFFFFF00"}}'
                height="60" width="60"></animated-icons>
            <animated-icons *ngIf="isSuccessful"
                src="https://animatedicons.co/get-icon?name=Success&style=minimalistic&token=2cb0da6b-0dad-4d02-8599-79b76c0333fb"
                trigger="loop"
                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":2.1,"defaultColours":{"group-1":"#00AD00FF","group-2":"#00AD00FF","background":"#FFFFFF00"}}'
                height="60" width="60"></animated-icons>
          
            <h2>{{mensaje}}</h2>
        </div>
        <div class="md-footer in-flex" *ngIf="isConfirmed">
            <button class="md-aceptar" type="button" (click)="deleteProducto()">
                Aceptar
            </button>
            <button class="md-cancelar" type="button" (click)="requiresConfirmation(false)">
                Cancelar
            </button>
        </div>
        <div class="md-footer in-flex" *ngIf="isError">
            <button class="md-cancelar" (click)="isError = false">
                Cancelar
            </button>
        </div>
    </div>
</div>
