<div class="container">
    <h2>{{titulo}}</h2>
    <div *ngIf="cargoLista">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Código</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Información</th>
            <th scope="col">Precio</th>
            <th scope="col">Categoría</th>
            <th scope="col">Marca</th>
            <th scope="col">Persona</th>
            <th scope="col">Material</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let modelo of modelos.response">
            <th scope="row">{{modelo.id}}</th>
            <td>{{modelo.descripcion}}</td>
            <td>{{modelo.info}}</td>
            <td>{{modelo.precio}}</td>
            <td>{{modelo.categoria.nombre}}</td>
            <td>{{modelo.marca.nombre}}</td>
            <td>{{modelo.persona.nombre}}</td>
            <td>{{modelo.material.nombre}}</td>
            <td><a href="" class="btn btn-outline-primary"><i class="fa-solid fa-pen-to-square"></i> Editar</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

