<div class="container">

  <div class="exhibitor in-grid" *ngIf="cargoLista">

    <div class="exb-item in-grid" *ngFor="let categorias of listColor">

      <div class="exb-title">
        <h2 class="mb-3"><strong>{{categorias.nombre}}</strong></h2>
      </div>

      <div class="exb-btn">
        <a class="btn btn-green" routerLink="/color/edit">
          <svg>
            <use href="./icons/icon.svg#edit-icon"></use>
          </svg>
        </a>
      </div>

      <div class="exb-btn">
        <button class="btn btn-red">
          <svg>
            <use href="./icons/icon.svg#trash-icon"></use>
          </svg>
        </button>
      </div>
    </div>

  </div>

</div>