/* You can add global styles to this file, and also import other style files */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

body{
    fill:rgb(0, 0, 0);
    color:rgb(38, 38, 38);
    background-color: rgb(255, 249, 235);
}

.container{
    width: 85%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border-radius: 8px;
}

li {
    list-style: none;
}

input {
    outline: none;
}


select {
    outline: none;
}

button {
    border: none;
    /* font-size: 2em; */
}

a{
    text-decoration: none;
    color:rgb(38, 38, 38);
}

.in-flex {
    display: flex;
}

.in-grid {
    display: grid;
}

.in-inline_block {
    display: inline-block;
}

.none {
    display: none;
}

svg {
    width: 100%;
    height: 100%;
}

img{
    
    object-fit: cover;
}

/*
body::-webkit-scrollbar {
    width: 10px;
    border-radius: 40px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(72, 72, 72, 0.5);
}
*/

.sub-title{
    margin: 100px 0px 10px;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.sub-title h2{
    font-size: 3em;
    font-weight: 400;
    color: rgb(107, 107, 107);
    text-shadow: -4px 3px 4px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 10px 30px;
    border-radius: 15px;
}


body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 450px) {

    *{
        font-size: 12px;
    }

}


/******************************************/
/******************************************/
/******************************************/
/******************************************/
/******************************************/

.container-z{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.2);
    animation: aparecerModal 0.3s ease-out forwards;
}

.md-confirmation{
    width: 38vw;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    margin: 10px auto;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    animation: fadeInDialog 0.3s ease-out forwards;
}
@keyframes fadeInDialog {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(60px);
    }
  }

  @keyframes aparecerModal {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.md-confirmation *{
    color: #5e5e5e;
    fill: rgb(94, 94, 94);
}

.md-header h2{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.md-header{
    align-items: center;
    flex-direction: column;
    margin: 10px 10px 20px;
}
.md-footer{  
    justify-content: center;
    gap: 10px;
}
.md-footer button{  
    padding: 10px 20px;
    border-radius: 6px;
    transition: 500ms background-color;
}

.md-footer .md-aceptar:hover{
    background-color: rgb(255, 203, 83);
}

.md-footer .md-cancelar:hover{
    background-color: rgb(194, 2, 2);
    color: rgb(255, 255, 255);
}